/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
@import url("http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css");
@import url("http://fonts.googleapis.com/css?family=Cookie");


a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 0px;
  margin-top: 40px;
  padding: 0;
}
/*footer {
    /*position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
    /*  height: 60px;
  line-height: 60px; Vertically center the text there 
}*/


/*Video styles*/
.videoHeader {
    position: relative;
    background-color: black;
    height: 95vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

    .videoHeader video {
        position: absolute;
        /*top: 50%;
        left: 50%;*/
        /*min-width: 100%;
        min-height: 100%;*/
        width: 100vw;
        height: auto;
        z-index: 0;
        /*-ms-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);*/
    }

    .videoHeader .container {
        position: relative;
        z-index: 2;
    }

    .videoHeader .overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: black;
        opacity: 0.5;
        z-index: 1;
    }

@media (pointer: coarse) and (hover: none) {
   .videoHeader {
        /*background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;*/
    }

       .videoHeader video {
            display: none;
        }
}


/*Parallax styles*/

.parallax {
    height: 600px;
    background-size: cover;
    position: relative;
    box-shadow: 0 5px 5px rgb(255, 255, 255);
    background-attachment: fixed;
}


.one {
    background-image: url("../content/home/PARALLAX_1.jpg");
    background-position: center center;
    z-index: 5;
}


.two {
    background-image: url('../content/home/PARALAX2-digital_deisgn.jpg');
    z-index: 4;
}

.three {
    background-image: url('../content/home/PARALAX3_Illustrations.jpg');
    z-index: 3;
}

.four {
    background-image: url('../content/home/PARALLAX_4.jpg');
    z-index: 2;
}

.five {
    background-image: url('../content/home/PARALLAX_5.jpg');
    z-index: 3;
}

.six {
    background-image: url('../content/home/PARALLAX_6.jpg');
    z-index: 2;
}

.seven {
    background-image: url('../content/home/PARALLAX_7.jpg');
    z-index: 0;
}

.centerdiv {
    background: rgba(255,255,255,0.3);
    display: flex;
    height: 600px;
    justify-content: center;
    align-items: center;
}


/*hompage text margin*/
.text {
    margin: 50px;
    font-size: 25px;
}

/*Footer styles*/
.footer-distributed {
    background-color: #3a3b36;
    box-shadow: 0 1px 1px 0 #8f9296;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px roboto; 
    padding: 55px 50px;
    position:relative;
    bottom: 0px;
}

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        display: inline-block;
        vertical-align: top;
    }

    /* Footer left */

    .footer-distributed .footer-left {
        width: 40%;
    }

    /* The company logo */

    .footer-distributed h3 {
        color: #ffffff;
        font: normal 36px 'Cookie', cursive;
        margin: 0;
    }

        .footer-distributed h3 span {
            color: #5383d3;
        }

    /* Footer links */

    .footer-distributed .footer-links {
        color: #ffffff;
        margin: 20px 0 12px;
        padding: 0;
    }

        .footer-distributed .footer-links a {
            display: inline-block;
            line-height: 1.8;
            text-decoration: none;
            color: inherit;
        }

    .footer-distributed .footer-company-name {
        color: #8f9296;
        font-size: 14px;
        font-weight: normal;
        margin: 0;
    }

    /* Footer Center */

    .footer-distributed .footer-center {
        width: 35%;
    }

        .footer-distributed .footer-center i {
            background-color: #33383b;
            color: #ffffff;
            font-size: 25px;
            width: 38px;
            height: 38px;
            border-radius: 50%;
            text-align: center;
            line-height: 42px;
            margin: 10px 15px;
            vertical-align: middle;
        }

            .footer-distributed .footer-center i.fa-envelope {
                font-size: 17px;
                line-height: 38px;
            }

        .footer-distributed .footer-center p {
            display: inline-block;
            color: #ffffff;
            vertical-align: middle;
            margin: 0;
        }

            .footer-distributed .footer-center p span {
                display: block;
                font-weight: normal;
                font-size: 14px;
                line-height: 2;
            }

            .footer-distributed .footer-center p a {
                color: #5383d3;
                text-decoration: none;
                ;
            }


    /* Footer Right */

    .footer-distributed .footer-right {
        width: 20%;
    }

    .footer-distributed .footer-company-about {
        line-height: 20px;
        color: #92999f;
        font-size: 13px;
        font-weight: normal;
        margin: 0;
    }

        .footer-distributed .footer-company-about span {
            display: block;
            color: #ffffff;
            font-size: 14px;
            font-weight: bold;
            margin-bottom: 20px;
        }

    .footer-distributed .footer-icons {
        margin-top: 25px;
    }

        .footer-distributed .footer-icons a {
            display: inline-block;
            width: 35px;
            height: 35px;
            cursor: pointer;
            background-color: #33383b;
            border-radius: 2px;
            font-size: 20px;
            color: #ffffff;
            text-align: center;
            line-height: 35px;
            margin-right: 3px;
            margin-bottom: 5px;
        }



@media (max-width: 880px) {

    .footer-distributed {
        font: bold 14px sans-serif;
    }

        .footer-distributed .footer-left,
        .footer-distributed .footer-center,
        .footer-distributed .footer-right {
            display: block;
            width: 100%;
            margin-bottom: 40px;
            text-align: center;
        }

            .footer-distributed .footer-center i {
                margin-left: 0;
            }
}

/*About styles*/

.centerdivAbout {
    background: rgba(255,255,255,0.3);
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.parallaxAbout {
    height: 100vh;
    background-size: cover;
    position: relative;
    box-shadow: 0 5px 5px rgb(255, 255, 255);
    background-attachment: fixed;
}

.me {
    background-image: url('../content/about/cover1.jpg');
    z-index: 2;
}

.bye {
    background-image: url('../content/about/cover2.jpg');
    z-index: 0;
}