@{
    ViewData["Title"] = "Hello";
}

<div class="parallaxAbout  me">
    <div class="centerdivAbout text-white">
        <h1>@ViewData["Title"]</h1>
    </div>

</div>
<br />
<div class="container">
    <br />
    <div class="container">
        <div class="row">
            <!-- Skill 1 -->
            <div class="col-xl-4 col-md-6 mb-4">
                <div class="card border-0 shadow">
                    <img src="~/content/about/photoshop.png" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title mb-0">Adobe Photoshop</h5>
                    </div>
                </div>
            </div>
            <!-- Skill 2 -->
            <div class="col-xl-4 col-md-6 mb-4">
                <div class="card border-0 shadow">
                    <img src="~/content/about/illustrator.png" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title mb-0">Adobe Illustrator</h5>
                    </div>
                </div>
            </div>
            <!-- Skill 3 -->
            <div class="col-xl-4 col-md-6 mb-4">
                <div class="card border-0 shadow">
                    <img src="~/content/about/after_effects.png" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title mb-0">Adobe AfterEffects</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br/>
<div class="parallaxAbout  bye">
    <div class="centerdivAbout text-white">
        <h1>Let's make something meaningfull together</h1>
    </div>

</div>