@{
    ViewData["Title"] = "My Work";
}

<div class="container-fluid">
    <br />

    <h1 class="font-weight-light text-center mt-4 mb-0">@ViewData["Title"]</h1>

    <br>

    <div class="row text-center text-lg-left pb-5">


        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="~/content/gallery/gallery (2).jpg" alt="">
            </a>
        </div>

        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="~/content/gallery/gallery (5).jpg" alt="">
            </a>
        </div>

        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="~/content/gallery/gallery (7).jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="~/content/gallery/gallery (8).jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="~/content/gallery/gallery (9).jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="~/content/gallery/gallery (10).jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="~/content/gallery/gallery (11).jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="~/content/gallery/gallery (12).jpg" alt="">
            </a>
        </div>
        <div class="p-4">

        </div>
    </div>

</div>
