@{
    ViewData["Title"] = "Home Page";
}

<div class="videoHeader">
    <div class="overlay"></div>
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
        <source src="~/content/home/homevid.mp4" type="video/mp4">
    </video>
    <div class="container h-100">
        <div class="d-flex h-100 text-center align-items-center">
            <div class="w-100 text-white">
                <h1 class="display-3">Welcome!</h1>
                <h2>
                    I'm a visual designer & illustration artist
                </h2>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <br /><br />
          <div class="text text-center">
              hello! i’m martina, a freelance visual designer & illustrator specializing in logo design, brand identity & illustration.
              take a look at my work. i hope you’ll enjoy it!
          </div>
    <br />
</div>

<div class="parallax one">

</div>

<div class="parallax  two">
    <div class="centerdiv">
        <h1>Visual design</h1>
    </div>

</div>

<div class="parallax  three">
    <div class="centerdiv">
        <h1>Branding</h1>
    </div>
</div>

<div class="parallax four">
    <div class="centerdiv">
        <h1>Illustrations</h1>
    </div>
</div>

<div class="parallax five">
</div>

<div class="parallax six">
</div>

<div class="parallax seven">
    <div class="centerdiv">
        <h1>Feel free to contact me</h1>
    </div>
</div>

